(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (30, 40, 75, 124, 124, 124, 124, 124),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (30, 40, 75, 124, 124, 124, 124, 124),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (30, 40, 75, 124, 190, 190, 190, 190),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (30, 40, 75, 124, 190, 190, 190, 190),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (30, 30, 30, 30, 30, 30, 30, 30),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (30, 30, 30, 30, 30, 30, 30, 30),
                temp: (45, 64, 66, 69, 79, 85, 92, 99),
                enabled: true,
            ),
        ],
        custom: [],
    ),
)